:root {
  --bg-color : #131722;
  --light-bg : #24baef;
  --font-color: #fff;
}

body {
  font-family: 'segoe ui light';
  background-color: var(--bg-color);
  color: var(--font-color);
}
a {
  color: var(--font-color);
  text-decoration: none;
}
.my-inputs {
  background-color: transparent;
  border: 1px solid #a8a8a83d;
  color: var(--font-color);
}